<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-dappbrowser"
        version="1.0.0">

    <name>DappBrowser</name>
    <description>Cordova DappBrowser Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,dapp,browser,dappbrowser</keywords>
    <repo>https://github.com/cochainio/cordova-plugin-dappbrowser.git</repo>
    <issue>https://github.com/cochainio/cordova-plugin-dappbrowser/issues</issue>

    <engines>
        <engine name="cordova" version=">=8.1.0" />
    </engines>

    <platform name="android">
        <js-module src="www/dappbrowser.js" name="dappbrowser">
            <clobbers target="cordova.DappBrowser.open" />
            <clobbers target="window.open" />
        </js-module>

        <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
        <hook type="after_platform_add" src="hooks/support-kotlin.js" />
        <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.71" />
        <apply-plugin>kotlin-android-extensions</apply-plugin>
        <apply-plugin>kotlin-kapt</apply-plugin>

        <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
        <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DappBrowser">
                <param name="android-package" value="io.cochain.dappbrowser.DappBrowser"/>
            </feature>
        </config-file>

        <source-file src="src/android/DappBrowser.kt" target-dir="app/src/main/java/io/cochain/dappbrowser" />
        <source-file src="src/android/DappBrowserDialog.kt" target-dir="app/src/main/java/io/cochain/dappbrowser" />
        <source-file src="src/android/DappChromeClient.kt" target-dir="app/src/main/java/io/cochain/dappbrowser" />

        <resource-file src="src/android/res/drawable-hdpi" target="res/drawable-hdpi" />
        <resource-file src="src/android/res/drawable-mdpi" target="res/drawable-mdpi" />
        <resource-file src="src/android/res/drawable-xhdpi" target="res/drawable-xhdpi" />
        <resource-file src="src/android/res/drawable-xxhdpi" target="res/drawable-xxhdpi" />

        <source-file src="src/android/build-extras.gradle" target-dir="."/>

    </platform>

    <platform name="ios">
        <js-module src="www/dappbrowser.js" name="dappbrowser">
            <clobbers target="cordova.DappBrowser.open" />
            <clobbers target="window.open" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="DappBrowser">
                <param name="ios-package" value="DappBrowser" />
                <param name="onload" value="true" />
            </feature>

            <!--<feature name="DappBrowser">
                <param name="ios-package" value="CDVInAppBrowser" />
                <param name="onload" value="true" />
            </feature>
            <feature name="UIInAppBrowser">
                <param name="ios-package" value="CDVUIInAppBrowser" />
                <param name="onload" value="true" />
            </feature>
            <feature name="WKInAppBrowser">
                <param name="ios-package" value="CDVWKInAppBrowser" />
                <param name="onload" value="true" />
            </feature>-->
        </config-file>

        <dependency id="cordova-plugin-add-swift-support" spec="~1.7.1" />
        <source-file src="src/ios/DappBrowser.swift"/>
        <source-file src="src/ios/DappBrowserNavigationController.swift"/>
        <source-file src="src/ios/DappBrowserOptions.swift"/>
        <source-file src="src/ios/DappBrowserUIDelegate.swift"/>

        <!--<header-file src="src/ios/CDVInAppBrowser.h" />
        <source-file src="src/ios/CDVInAppBrowser.m" />
        <header-file src="src/ios/CDVInAppBrowserOptions.h" />
        <source-file src="src/ios/CDVInAppBrowserOptions.m" />
        <header-file src="src/ios/CDVInAppBrowserNavigationController.h" />
        <source-file src="src/ios/CDVInAppBrowserNavigationController.m" />
        <header-file src="src/ios/CDVUIInAppBrowser.h" />
        <source-file src="src/ios/CDVUIInAppBrowser.m" />
        <header-file src="src/ios/CDVWKInAppBrowser.h" />
        <source-file src="src/ios/CDVWKInAppBrowser.m" />
        <header-file src="src/ios/CDVWKInAppBrowserUIDelegate.h" />
        <source-file src="src/ios/CDVWKInAppBrowserUIDelegate.m" />-->

        <framework src="CoreGraphics.framework" />
    </platform>

</plugin>
